.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 300px;
  background-color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-icon {
  width: 20px;
}
